* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html, body, .container, .content {
	/*
	height: 100%;
	*/
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
}

.container {
	background-color: #eee;
	height: 100%;
}

.section {
	width: 100%;
}

header[class="section"] {
	height: 100px;
	/*
	background-color: #333;
	*/
	color: #fff;
	padding: 10px;
	cursor: default;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

header > h1,
header > h3 {
	height: 50px;
	margin: auto 0;
	letter-spacing: 4px;
}

nav[class~="section"] {
	background-color: #ccc;
	/*
	height: 50px;
	*/
	height: auto;
	border: 2px dashed black;
}

nav > ul {
	float: left;
}

nav > ul > li {
	list-style: none;
	float: left;
	padding: 10px;
}

nav > ul > li > a {
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
}

nav > ul > li > a:hover {
	color: #fff;
	transition: 0.5s;
}

nav > section {
	line-height: 50px;
	/*
	float: left;
	*/
}

nav > section > label {
	border: 1px solid black;
	border-radius: 5px;
	padding: 4px;
}

nav > section img {
	cursor: pointer;
}

nav > section > label > input {
	border-radius: 5px;
}

nav > section > label > i {
	cursor: pointer;
}

.content {
	/*
	background-color: #fff;
	*/
	background-color: #A5C4D4;
	height: 100%;
	max-width: 960px;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

main[class~="section"] {
	background-color: #fff;
	height: 100%;
	padding: 15px;
}

main > section {
	margin: 10px 0;
}

main > section > img {
	max-width: 90%;
	display: block;
	margin: 0 auto;
}

main > section > small {
	display: block;
	text-align: center;
	margin: 10px;
}

main > section > p {
	margin-bottom: 20px;
}

main > section ul {
	padding-left: 30px;
}

main > .links {
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}

main > .links > a {
	text-decoration: none;
}

.graybox {
	width: 100%;
	height: 400px;
	border-radius: 10px;
	background-color: #ddd;
	padding: 10px;
	padding-top: 200px;
	margin: 20px 0;
}

.graybox p:first-child {
	height: 50%;
}

aside[class~="section"] {
	background-color: #A5C4D4;
	height: 100%;
	padding: 15px;

}

aside > section {
	margin-bottom: 20px;
}

aside h2 {
	background-color: #333;
	padding: 10px;
	color: #fff;
}

aside li {
	list-style: none;
}

aside a {
	text-decoration: none;
}

aside .subclass {
	padding-left: 30px;
}

footer[class="section"] {
	height: 50px;
	background-color: #aaa;
}

footer p {
	text-align: center;
	color: #fff;
}

@media only screen and (max-width: 400px) {
	nav > ul > li {
		text-align: center;
		border-right: 1px solid black;
	}

	aside > section {
		text-align: center;
	}
}

/*
@media only screen and (min-width: 401px) {
*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	body {
		background-color: #eee;
	}

	nav > ul > li {
		text-align: center;
		border-bottom: 1px solid black;
	}

	nav > section {
		text-align: center;
	}

	.content {
		max-width: 960px;
		margin: 0 auto;
	}

}

@media only screen and (min-width: 961px) {
	body {
		background-color: #eee;
	}

	nav > ul {
		padding-left: 10px;
	}

	nav > section {
		padding-right: 10px;
		text-align: right;
	}

	.content {
		max-width: 960px;
		margin: 0 auto;
	}
}

[class*="col"] {
	/*
	border: 5px solid black;
	*/
	float: left;
	box-sizing: border-box;
}

.row:after {
	content: "";
	display: block;
	clear: both;
}

@media only screen and (max-width: 400px) {
	.col-sm-0 {
		display: none;
	}

	.col-sm-1 {
		width: 8.33%;
	}

	.col-sm-2 {
		width: 16.66%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-4 {
		width: 33.33%;
	}

	.col-sm-5 {
		width: 41.66%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-7 {
		width: 58.33%;
	}

	.col-sm-8 {
		width: 66.66%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-10 {
		width: 83.33%;
	}

	.col-sm-11 {
		width: 91.66%;
	}

	.col-sm-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	.col-md-0 {
		display: none;
	}

	.col-md-1 {
		width: 8.33%;
	}

	.col-md-2 {
		width: 16.66%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33.33%;
	}

	.col-md-5 {
		width: 41.66%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-7 {
		width: 58.33%;
	}

	.col-md-8 {
		width: 66.66%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-10 {
		width: 83.33%;
	}

	.col-md-11 {
		width: 91.66%;
	}

	.col-md-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 961px) {
	.col-lg-0 {
		display: none;
	}

	.col-lg-1 {
		width: 8.33%;
	}

	.col-lg-2 {
		width: 16.66%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-4 {
		width: 33.33%;
	}

	.col-lg-5 {
		width: 41.66%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-7 {
		width: 58.33%;
	}

	.col-lg-8 {
		width: 66.66%;
	}

	.col-lg-9 {
		width: 75%;
	}

	.col-lg-10 {
		width: 83.33%;
	}

	.col-lg-11 {
		width: 91.66%;
	}

	.col-lg-12 {
		width: 100%;
	}
}
